/* D8 custom stuff, in no particular order */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.region-highlighted  {
	max-width: 90%;
	margin: 0 auto;
	padding: 0 0.5em;
}

.region-highlighted .block {
	float: left;
	width: 33.333333%;
	padding: 0 1em;
}

main {
	clear: both;
}

h1 {
	font-family: 'Droid Sans', sans-serif;
}


.region nav ul,
.region-primary-menu ul,
.region-secondary-menu ul,
.region-footer ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	text-align: center;
	padding: 0;
	margin-left: 0;
}

.region-primary-menu ul li,
.region-secondary-menu ul li ,
.region-footer ul li {
	padding: 0;
	flex: 1 0 auto;
}

.region nav ul > li > a,
.region .main-menu ul > li > a {
	display: block;
	padding: 0.5rem 1rem;
}

.views-table thead th {
	padding: 10px;
	vertical-align: top;
	font-size: 12px;
	line-height: 14px;
	background-color: #111111;
}

.views-table td {
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px dotted #333;
}

td.is-active {
	background-color: #222;
}

.node--unpublished {
  background-color: #111;
  border: 1px dotted darkred;
}