body {
    background: #111111 url(../images/purple_bg.png);
    color: #eee;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.5rem;
}

a:link {
    color: #9c77d1;
    text-decoration:none;
}

a:visited {
    color: #009999;
}

a:hover {
    color:#F7F7F7;
}

h1, h2, h3 {
    text-shadow: 2px 2px 2px #000;
}

h1 {
    line-height: 1.2;
}

ol {
    list-style-type: none;
}


@font-face {
    font-family: Neutron Demo;
    src: local(" Neutron Demo"), url("../fonts/neutrond.ttf") format("truetype"), url("../fonts/neutrond.ttf") format("opentype");
    src: src: url("../fonts/NEUTRON187787.eot");
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/neutrond.ttf) format("truetype-aat"), url(../fonts/neutrond.ttf) format("opentype"), src: url('NEUTRON187787.eot');
}
#block-emc-branding img {
    width: auto;
}
#sitename {
    font-size: 2.0rem;
    font-weight: normal;
    font-family: Neutron Demo;
    text-shadow: 1px 1px 1px #333;
    text-decoration: uppercase;
}
#sitename a:link,
#sitename a:visited,
#sitename a:hover {
    color:#fff;
    text-decoration:none;
}
#sitedescription {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5rem;
    text-shadow: 2px 2px 2px #000;
}




.region nav,
.region  .main-menu {
    border-bottom: 1px solid #111111;
    border-radius: 8px;
}

.region nav ul > li > a,
.region .main-menu ul > li > a {
    border-bottom: 1px solid #333;
    border-right: 1px inset #333;
    color: #eee;
    background: #111111; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExMTExMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYzBjMGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #111111 0%, #0c0c0c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111111), color-stop(100%,#0c0c0c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #111111 0%,#0c0c0c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #111111 0%,#0c0c0c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #111111 0%,#0c0c0c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #111111 0%,#0c0c0c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#0c0c0c',GradientType=0 ); /* IE6-8 */
}

.region nav ul > li:last-child > a,
.region .main-menu ul > li:last-child > a {
    border-radius: 0 8px 8px 0;
    border-right: 0 none;
}

.region nav ul > li:first-child > a,
.region .main-menu ul > li:first-child > a {
    border-radius: 8px 0 0 8px;
}

.region nav ul > li:last-child > a,
.region .main-menu ul > li:last-child > a {
    border-radius: 0 8px 8px 0;
    border-right: 0 none;
}

.region nav ul > li > a:focus,
.region nav ul > li > a:hover,
.region .main-menu ul > li > a:focus,
.region .main-menu ul > li > a:hover {
    color: #ffffff;    
    background: -moz-linear-gradient(top,  #111111 0%, #222222 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111111), color-stop(100%,#222222)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #111111 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #111111 0%,#222222 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #111111 0%,#222222 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #111111 0%,#222222 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#222222',GradientType=0 ); /* IE6-8 */
}

.region nav ul li > .is-active,
.region nav ul li > .is-active:hover,
.region nav ul li > .is-active:focus,
.region .main-menu ul li > .is-active,
.region .main-menu ul li > .is-active:hover,
.region .main-menu ul li > .is-active:focus {
    color:#FFDD07;
}

.region nav .effect {
    position: absolute;
    left: -25%; /* extra to compensate for the glow */
    transition: 0.7s ease-in-out;
}

.region nav li:nth-child(1):hover ~ .effect {
    left: 12.5%; /* the middle of the first <a> */}
.region nav li:nth-child(2):hover ~ .effect {
    left: 37.5%;  /* the middle of the second <a> */ }
.region nav li:nth-child(3):hover ~ .effect {
    left: 62%; /* the middle of the third <a> */}
.region nav li:nth-child(4):hover ~ .effect {
    left: 87.5%; /* the middle of the forth <a> */}
.region nav li:nth-child(5):hover ~ .effect {
    left: 75.0015%; /* the middle of the forth <a> */}
.region nav li:nth-child(6):hover ~ .effect {
    left: 91.6685%; /* the middle of the forth <a> */}

.region nav .effect {
    width: 25%; /* 4 items into 100% */
    height: 4px;
    bottom: 0;
    background: rgba(255,255,255,0.7);
    margin-left:-12.5%; /* half the width */
    -webkit-box-shadow: 0px 0px 24px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 24px 0px rgba(255,255,255,0.75);
    box-shadow: 0px 0px 24px 0px rgba(255,255,255,0.75);
}

figure {
    background-color: rgba(0,0,0,0.6);
    border-radius: 8px;
}

figure,
figure img {
    border: 1px solid #111111;
}

figcaption {
    border-bottom: 1px solid #333;
}

#main p {
    max-width: 90ch;
    /*max-width: 33rem;*/
    margin-bottom: 2.5em;
 }

#main figure.left + p {
    clear: right;
 }

#main article {
    text-align: left;
}
#main > article {
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #111111;
    border-radius: 8px;
}
/*
main aside .block {
    background-color: rgba(93,70,167,0.3);
    border: 1px solid #111111;
    border-radius: 8px;
}*/


.block h3 {
    color: #d4d4d4;
    text-align: left;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
}




/* hard rules

.block.block-system > div {
    background-color: transparent;
    border: 0 none;
}*/

div[data-contextual-id] {
    display: none;
}


/* Hide RSS icon */
a.feed-icon {
	display: none;
}

iframe {
	border: 0 none;
	margin: 0 auto;
}

.effect {
	display: none;
}

input {
	color: #000;
}


.node.node--view-mode-teaser {
    margin-bottom: 2em;
}

article .node__title {
    margin-bottom: 0.5em;
}

/* article header */
article > header {
    border-bottom: 1px dotted #333;
    padding: 0.5rem 0;
    margin-bottom: 1em;
}

article .node__content {
    border-bottom: 1px solid #333;
}

/* date and author */
article > header > .node__meta > span {
    color: #ccc;
    font-size: 14px;
}


.links.inline {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0 2rem;
}

.links.inline li {
    display: inline-block;
    padding: 0 3em 0 0;
}


/* tags */
.links.field__items {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
}

.links.field__items li {
    display: inline-block;
    padding: 0 0.5em 0 0;
}

.links.field__items li a {
    display: block;
    padding: 0.2em 0.5em;
    background-color: #333;
    border-radius: 8px;
}

.node-readmore a {
    color: #FFDD07;
}

.node-readmore a:hover {
    color: #fff;
}


#block-emc-page-title {
    padding: 0;
    margin: 0;
}

#block-emc-page-title h1 {
    margin-bottom: 0.5em;
    color: #9c77d1;
    line-height: 100%;
}


.node--type-page .field--name-field-image img {
    margin: 1em 0;
}


/* Sidebar nav */

.region-sidebar-first nav ul {
    display: block;
    text-align: left;
}
.region-sidebar-first .region nav {
    border-bottom: 0 none;
    border-radius: 0;
}
.region-sidebar-first.region nav ul > li > a {
    border-right: 0;
    border-left: 6px solid #333;
    padding-left: 8px;
    border-radius: 0;
}
.region-sidebar-first.region nav ul > li > a:focus,
.region-sidebar-first.region nav ul > li > a:hover{
    border-left: 6px solid #009999;
}
.region-sidebar-first.region nav ul li > .is-active,
.region-sidebar-first.region nav ul li > .is-active:hover,
.region-sidebar-first.region nav ul li > .is-active:focus {
    border-left: 6px solid #009999;
    color:#FFDD07;
}

.block-page-title-block {
    border-bottom: 2px solid #333;
}


.node__content .field {
    margin-top: 1rem;
}

.node__content > .field > p:first-child {
    margin-top: 0;
}

@media only screen and (min-width: 480px) {
    .field--name-field-cover {
        float: left;
        margin: 0 1rem 0.5rem 0 !important;
        padding: 1rem;
        border: 2px solid #333;
    }
}

.field--name-field-transmission > .field__label {
    margin-bottom: 1rem;
    background: #333;
    padding: 0.5rem 1rem;
}

.field--name-field-transmission > .field__items > .field__item {
    border: 1px solid #333;
    background: #111;
    padding: 0 1rem 1rem;
    margin-bottom: 1rem;
}
.field--name-field-transmission article .node__content {
    border-bottom: 0 none;
}

.field--name-field-tunes > .field__label {
    background: #333;
    padding: 0.5rem 1rem;
}
.field--name-field-tunes > .field__items {
    border: 1px solid #333;
    background: #111;
    padding: 0 1rem 1rem;
    margin-bottom: 1rem;
}
.field--name-field-tunes > .field__items > .field__item {
    padding: 1rem 0;
}

@media only screen and (min-width: 800px) {

    .node__links,
    footer.node__meta {
        width: 40%;
        float: left;
    }

    .node__links {
        clear: left;
    }

    .node--view-mode-teaser footer.node__meta {
        float: right;
        width: 50%;
    }
}

.node__links,
footer.node__meta {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.node--view-mode-teaser footer.node__meta {
    background: #111;
    padding: 0 0.5rem;
    text-align: right;
    color: #d4d4d4;
}

.node--view-mode-teaser h2 {
    margin-top: 2rem;
}


.field--name-field-article-tags .field__item {
    display: inline-block;
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
}
.field--name-field-article-tags a {
    background: #4b3865;
    border-radius: 1rem;
    color: #fff;
    padding: 0.25rem 0.75rem;
    font-weight:600;
}

.node--type-tune.node--view-mode-full,
.node--type-mix.node--view-mode-full {
    margin-top: 1rem;
}

.tag-item {
    background:  #009999;
    border-radius: 1rem;
    color: #111;
    padding: 0.25rem 0.75rem;
    font-weight: 600;
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.tag-item:hover {
    background:  #0a6a6a;
}

.tag-item a:link,
.tag-item a:visited,
.tag-item a:hover {
    color: #111;
}

.view-tagcloud > .view-content > div {
    display: inline-block;
}

.tag-item.tag-1 {
    font-size: 11px;
}
.tag-item.tag-2 {
    font-size: 13px;
}
.tag-item.tag-3 {
    font-size: 15px;
}
.tag-item.tag-4 {
    font-size: 17px;
}
.tag-item.tag-5 {
    font-size: 19px;
}
.tag-item.tag-6 {
    font-size: 21x;
}


.views-table {
    width: 100%;
}

.views-table th {
    background-color: #222;
}

.views-table th,
.views-table td {
    padding: 0.5rem;
    border-bottom: 1px solid #333;
    vertical-align: top;
}

td.is-active {
    background-color: #111;
}

th.views-field-title,
td.views-field-title {
    width: 30%;
}


